<zan-spinner [input_abrirSpinner]="openSpinner"></zan-spinner>


<form class="grid grid-container container-form   " [formGroup]="formHowMatySentences" (submit)="false"
  [style]="{  border: '2px solid blue',  borderRadius: '5px'  }">





  <div class="col-12  ">
    <div class="grid grid-container    " style="width: 100; ">

      <div class="col-P-zan-1"></div>

      <div class="col-P-zan-2" style="text-align:right;  ">
          <label><b>{{'configuration_games.control_how_many.title_how_many_sentence' | translate}}:</b> </label>
        </div>
      <div class="col-P-zan-3"  >
        &nbsp; <input type="number" min="0" max="50" style="width: 50px; text-align:center;" id="txt_how"
          formControlName="txt_how" (keyup)="fn_KeyPress()">
      </div>

      <!-- <div class="grid grid-container  col-P-zan-4  ">
        <zan-button-select [input_listOpctionsButton]="'A1|A2|B1|B2|C1|C2'"
          (Output_ValueSelectedButton)="fn_ButtonSelected ($event)" [input_disabled]="disabled_button">
        </zan-button-select>
      </div> -->

      <div class="col-P-zan-5" style="text-align:center;   " *ngIf="btn_start_visible">
        <p-button type="button" label="{{'configuration_games.control_how_many.button_start' | translate}}" [style]="{ 'width': '140px' }" (click)="fn_Start_click()">
        </p-button>
      </div>



    </div>


  </div>


</form>




<zan-games-alert [inputo_MsjParams]="_MsjParams_Alert"></zan-games-alert>
