<zan-spinner [input_abrirSpinner]="openSpinner"></zan-spinner>



<p-panel [showHeader]="false" [style]="{  border: '2px solid blue',  borderRadius: '5px'  }">

  <form class="grid grid-container container-form   " [formGroup]="formHowMatyWords" (submit)="false">


    <div class="col-12 ">
      <div class="grid grid-container   ">

        <div class="col-4-zan-1 "  style="  padding: 20px;" >
          <label><b>{{'configuration_games.control_how_many.title_how_many' | translate}}:</b> </label>
        </div>
        <div class="col-4-zan-2 " style=" padding: 20px; " >
          <input type="number" min="0" max="50" style="width: 50px; text-align:center;" id="txt_how"
            formControlName="txt_how" (keyup)="fn_KeyPress()">
        </div>
        <!-- <div class="col-4-zan-3 " style="text-align:left;   "  >
                <p-checkbox [binary]="true" id="chk_adj" formControlName="chk_adj"            label="{{'configuration_games.control_how_many.label_adj' | translate}}"> </p-checkbox>
        </div>
        <div class="col-4-zan-4 " style="text-align:left; ">
                <p-checkbox   [binary]="true" id="chk_noun" formControlName="chk_noun"            label="{{'configuration_games.control_how_many.label_Noun' | translate}}"> </p-checkbox>
        </div>
        <div class="col-4-zan-5 " style="text-align:left;  ">
                <p-checkbox            [binary]="true" id="chk_adv" formControlName="chk_adv"            label="{{'configuration_games.control_how_many.label_Adv' | translate}}"> </p-checkbox>
        </div>
        <div class="col-4-zan-6 " style="text-align:left;   ">
                <p-checkbox            [binary]="true" id="chk_verb" formControlName="chk_verb"            label="{{'configuration_games.control_how_many.label_Verb' | translate}}" (onChange)="fn_chk_verb_cambia()">          </p-checkbox>
        </div>
        <div class="col-4-zan-7 " style="text-align:left;   ">
                <p-checkbox            [binary]="true" id="chk_PastTense" formControlName="chk_PastTense"            label="{{'configuration_games.control_how_many.label_past_tense' | translate}}"            (onChange)="fn_chk_PastTense_cambia()"> </p-checkbox>
        </div> -->

        <div class="col-4-zan-8   " style="text-align:center;padding: 10px;  ">
          <p-button type="button" label="{{'configuration_games.control_how_many.button_start' | translate}}"
            [style]="{ 'width': '200px' }" (click)="fn_Start_click()" *ngIf="btn_start_visible">
          </p-button>
        </div>

      </div>
    </div>


  </form>


</p-panel>
<zan-games-alert [inputo_MsjParams]="_MsjParams_Alert"></zan-games-alert>
