<div>
  <h2 style="font-size: 1.5rem; font-weight: 400;">{{'configuration_user.configuration_form.title' | translate}}</h2>
  <hr>
</div>
<form class="grid grid-container container-form " [formGroup]="form">
  <div class="col-12 md:col-8">
    <div class="grid grid-container">
      <div class="col-12 md:col-6">
            <label>{{'configuration_user.configuration_form.user' | translate}}</label>
            <input pInputText id="username" formControlName="username" />
          </div>
          <div class="col-12 md:col-6">
            <label>{{'configuration_user.configuration_form.full_name' | translate}}</label>
            <input pInputText id="fullName" formControlName="fullName" />
            <div style="height: 30px">
              <ng-container *ngIf="fieldValidate.focus(form,'fullName')">
                <div class="message-error">{{'global.required' | translate}}</div>
              </ng-container>
            </div>
          </div>




          <!-- <div class="col-12 md:col-6 lg:col-3">
            <label>{{'configuration_user.configuration_form.lenguage' | translate}}</label>
            <input pInputText id="native_lang" formControlName="native_lang" />
          </div> -->

          <div class="col-12 md:col-6 lg:col-3"  >
            <label>{{'configuration_user.configuration_form.lenguage' | translate}}</label>
            <p-dropdown  [options]="listLanguages"   formControlName="native_lang"></p-dropdown>
            <div style="height: 30px">
              <ng-container *ngIf="fieldValidate.focus(form,'native_lang')">
                <div class="message-error">{{'global.required' | translate}}</div>
              </ng-container>
            </div>
          </div>


          <!-- <div class="col-12 md:col-6 lg:col-3">
            <label>{{'configuration_user.configuration_form.country_origin' | translate}}</label>
            <input pInputText id="country_birth" formControlName="country_birth" />
          </div> -->

          <div class="col-12 md:col-6 lg:col-3"  >
            <label>{{'configuration_user.configuration_form.country_origin' | translate}}</label>
            <p-dropdown  [options]="listContries"   formControlName="country_birth"></p-dropdown>
            <div style="height: 30px">
              <ng-container *ngIf="fieldValidate.focus(form,'country_birth')">
                <div class="message-error">{{'global.required' | translate}}</div>
              </ng-container>
            </div>
          </div>



          <!-- <div class="col-12 md:col-6 lg:col-3">
            <label>{{'configuration_user.configuration_form.country_residence' | translate}}</label>
            <input pInputText id="country_res" formControlName="country_res" />
          </div> -->

          <div class="col-12 md:col-6 lg:col-3"  >
            <label>{{'configuration_user.configuration_form.country_residence' | translate}}</label>
            <p-dropdown  [options]="listContries"   formControlName="country_res"></p-dropdown>
            <div style="height: 30px">
              <ng-container *ngIf="fieldValidate.focus(form,'country_res')">
                <div class="message-error">{{'global.required' | translate}}</div>
              </ng-container>
            </div>
          </div>



          <div class="col-12 md:col-6 lg:col-3">
            <label>{{'configuration_user.configuration_form.selected_lenguage' | translate}}</label>
            <p-dropdown  [options]="listLenguage" (onChange)="selectedLenguage($event)" formControlName="selected_lang"></p-dropdown>
            <div style="height: 30px">
              <ng-container *ngIf="fieldValidate.focus(form,'selected_lang')">
                <div class="message-error">{{'global.required' | translate}}</div>
              </ng-container>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <label>{{'configuration_user.configuration_form.email' | translate}}</label>
            <input pInputText id="email" formControlName="email"  />
            <div style="height: 30px">
              <ng-container *ngIf="fieldValidate.focus(form,'email')">
                <div class="message-error">{{'global.required' | translate}}</div>
              </ng-container>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <label>{{'configuration_user.configuration_form.email_confirm' | translate}}</label>
            <input pInputText id="emailConfirm" formControlName="emailConfirm" />
          </div>
          <div class="col-12 md:col-6">
            <label>{{'configuration_user.configuration_form.recovery_email_account' | translate}}</label>
            <input pInputText id="emailAlternate " formControlName="emailAlternate" />
          </div>
          <div class="col-12 md:col-6">
            <label>{{'configuration_user.configuration_form.recovery_email_account_confirm' | translate}}</label>
            <input pInputText id="emailAlternateConfirm" formControlName="emailAlternateConfirm" />
          </div>

          <div class="col-12 md:col-12 lg:col-12" style="justify-content: flex-end; display: flex; padding-top: 30px;">
            <p-button label="{{'configuration_user.change_password_form.button_change_data' | translate}}"
                      [style]="{'width': '200px' }" (click)="submitData()">
            </p-button>
          </div>

    </div>
  </div>
</form>

<form class="grid grid-container container-form " [formGroup]="formPassword">
  <div class="col-12 md:col-8">
    <div class="grid grid-container">
      <div class="col-12">
              <h3 style="font-size: 1.2rem; font-weight: 400;">{{'configuration_user.change_password_form.title' | translate}} </h3>
              <hr>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
              <label>{{'configuration_user.change_password_form.current_password' | translate}}</label>
              <input pInputText id="currentPassword" type="password" formControlName="currentPassword" />
              <div style="height: 30px">
                <ng-container *ngIf="fieldValidate.focus(formPassword,'currentPassword')">
                  <div class="message-error">{{'global.required' | translate}}</div>
                </ng-container>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
              <label>{{'configuration_user.change_password_form.new_password' | translate}}</label>
              <input pInputText id="newPassword" type="password" formControlName="newPassword" />
              <div style="height: 30px">
                <ng-container *ngIf="fieldValidate.focus(formPassword,'newPassword')">
                  <div class="message-error">{{'global.required' | translate}}</div>
                </ng-container>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
              <label>{{'configuration_user.change_password_form.new_password_confirm' | translate}}</label>
              <input pInputText id="newPasswordConfim" type="password" formControlName="newPasswordConfim" />
              <div style="height: 30px">
                <ng-container *ngIf="fieldValidate.focus(formPassword,'newPasswordConfim')">
                  <div class="message-error">{{'global.required' | translate}}</div>
                </ng-container>
              </div>
            </div>
            <div class="col-12 md:col-12 lg:col-12" style="justify-content: flex-end; display: flex;  ">
              <p-button label="{{'configuration_user.change_password_form.button_change_password' | translate}}"
                        [style]="{'width': '200px' }" (click)="submitPassword()">
              </p-button>
            </div>

    </div>
  </div>
</form>
<form class="grid grid-container container-form " [formGroup]="frmContact">
  <div class="col-12 md:col-8">
    <div class="grid grid-container">
            <div class="col-12">
              <h3 style="font-size: 1.2rem; font-weight: 400;">{{'configuration_user.contact_form.title' | translate}}</h3>
              <hr>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
              <label>{{'configuration_user.contact_form.contact' | translate}}</label>
              <input pInputText id="contactId" formControlName="contactId" />
            </div>
            <div class="col-12 md:col-6 lg:col-4">
              <label>{{'configuration_user.contact_form.email' | translate}}</label>
              <input pInputText id="contactEmail" formControlName="contactEmail" />
            </div>
            <div class="col-12 md:col-6 lg:col-4">
              <label>{{'configuration_user.contact_form.name' | translate}}</label>
              <input pInputText id="contactName" formControlName="contactName" />
            </div>

    </div>
</div>
</form>


<app-loading></app-loading>
<p-toast></p-toast>
