<zan-spinner [input_abrirSpinner]="openSpinner"></zan-spinner>

<div class="grid grid-container  " >


  <div class="col-12" style="width: 100%;  ">
    <h2 style="font-size: 1.5rem; font-weight: 400;">{{'configuration_games.view_trying_word.title_pag_game' |   translate}}</h2>
  </div>

  <div class="col-12" style="width: 100%;  padding-right: 15px; padding-left: 0px;   ">
    <zan-how-many-words (Output_list_Words_API)="fn_StartGame_Input($event)" [Input_koGame]="koGame"></zan-how-many-words>
  </div>



  <div class="col-zan-1  "  >
    <div  [style]="{   border: '2px solid blue',  borderRadius: '5px'}">
      <zan-list-words [Input_Averge]="lbl_Averge" [Input_Div]="lbl_Div" [Input_List_Words_Process]="list_Words_process">   </zan-list-words>
    </div>
  </div>

  <div class="col-zan-2"  >   </div>

  <div  class="col-zan-3    ">
    <!-- <div class="col" ></div> -->

          <form class="grid grid-container container-form   " [formGroup]="form" (submit)="false"  [style]="{   border: '2px solid blue',  borderRadius: '5px'}">



                      <div class="row   " style="width: 100%;">
                        <div class="col-12" style="text-align:left;">
                          <div class="grid grid-container   "  >


                            <div class="col-6-zan-1" style="text-align:center; padding: 8px;   "> <b>{{'configuration_games.view_trying_word.label_English_word' | translate}}:</b></div>
                            <div class="col-6-zan-1"  style="text-align:left;  padding: 8px;  "> <b> {{lbl_English_Word}}</b> </div>


                            <div  *ngIf="btn_visible"    >
                              <p-button icon="fas fa-volume-up "  styleClass="p-button-rounded p-button-warning p-button-text  "
                              [style]="{ 'width': '30px','height':'30px' }"
                               (onClick)="playAudio(link,true)"></p-button>
                            </div>

                            <div class="col-5-zan-3" style="text-align:center;  ">
                              <p-button type="button" label="{{'configuration_games.view_trying_word.button_validate' | translate}}"    [style]="{ 'width': '90px' }" (click)="fn_Validate_click()" *ngIf="btn_visible">    </p-button>
                            </div>

                            <div class="col-5-zan-4" style="text-align:left; padding: 8px;    ">
                              <label><b>{{'configuration_games.view_trying_word.label_grade' | translate}}:</b>     &nbsp; {{lbl_Grade}}     </label>
                            </div>


                          </div>
                        </div>




                        <div class="grid grid-container" style="text-align:right; width: 100%;">


                          <div class="col-5-zan-1" style="text-align:center;   padding: 8px;   ">
                            <b  > {{'configuration_games.view_trying_word.label_try_with' | translate}}:</b>
                          </div>
                            <div class="col-5-zan-2" style="text-align:left ; padding-left: 10px;  ">
                              <input pInputText id="txt_Try_With" formControlName="txt_Try_With" [maxlength]="1" maxlength="30"  style="width: 30px; text-align:center; padding: 4px; " (keyup)="fn_Validate_click()" />
                          </div>


                          <div class="col-6 "  >
                            <div class="grid grid-container">
                              <div class="col-6-zan-1" style="text-align:center;  ">
                                <b>{{'configuration_games.view_trying_word.label_already' | translate}}:</b></div>
                              <div class="col-6-zan-2" style="text-align:left;  "> <b>{{lbl_Trided}}</b> </div>
                            </div>
                          </div>
                        </div>


                        <div class="grid grid-container" style="text-align:right; width: 100%;">  </div>


                      </div>
          </form>

  </div>

</div>



<!-- <form class="grid grid-container container-form   " [formGroup]="form" (submit)="false"
[style]="{   padding: '10px 0px 0px 0px',width:'100%' }">

<div class="grid grid-container;   " style=" width: 100%; "> -->



  <!-- <div class="col-3-zan-1" [style]="{   border: '2px solid blue',  borderRadius: '5px'}">
    <zan-list-words [Input_Averge]="lbl_Averge" [Input_Div]="lbl_Div" [Input_List_Words_Process]="list_Words_process">
    </zan-list-words>
  </div> -->




  <!-- <div class="col-3-zan-2"> </div>

  <div class="col-3-zan-3" [style]="{  border: '2px solid blue',  borderRadius: '5px' }">
                    <div class="row">
                      <div class="col-12" style="text-align:right;">
                        <div class="grid grid-container ">

                          <div class="col-5-zan-1" style="text-align:right;   "> <b>
                              {{'configuration_games.view_trying_word.label_try_with' | translate}}</b></div>
                          <div class="col-5-zan-2" style="text-align:center ; padding-left: 10px;">
                            <input pInputText id="txt_Try_With" formControlName="txt_Try_With" [maxlength]="1" maxlength="30"
                              style="width: 30px; text-align:center; padding: 4px; " (keyup)="fn_Validate_click()" />
                          </div>
                          <div class="col-5-zan-3" style="text-align:center;     ">
                            <p-button type="button" label="{{'configuration_games.view_trying_word.button_validate' | translate}}"
                              [style]="{ 'width': '90px' }" (click)="fn_Validate_click()" *ngIf="btn_visible">
                            </p-button>
                          </div>

                          <div class="col-5-zan-4" style="text-align:left;">
                            <label><b>{{'configuration_games.view_trying_word.label_grade' | translate}}</b>
                              &nbsp; {{lbl_Grade}}
                            </label>
                          </div>

                        </div>
                      </div>




                      <div class="grid grid-container" style="text-align:right; width: 100%;">
                        <div class="col-12">
                          <div class="grid grid-container">
                            <div class="col-6-zan-1" style="text-align:center;   ">
                              <b>{{'configuration_games.view_trying_word.label_already' | translate}}</b></div>
                            <div class="col-6-zan-2" style="text-align:left;  "> <b>{{lbl_Trided}}</b> </div>
                          </div>
                        </div>
                      </div>



                      <div class="grid grid-container" style="text-align:right; width: 100%;">
                        <div class="col-12">
                          <div class="grid grid-container">
                            <div class="col-6-zan-1" style="text-align:center;   ">
                              <b>{{'configuration_games.view_trying_word.label_English_word' | translate}}</b></div>
                            <div class="col-6-zan-1" style="text-align:left;"> <b> {{lbl_English_Word}}</b> </div>
                          </div>
                        </div>
                      </div>


                    </div>


  </div>

</div>

</form> -->



  <!-- ------------- mesajes  de error ------------ -->

  <zan-games-alert [inputo_MsjParams]="msjParamsAlert"></zan-games-alert>
