<zan-spinner [input_abrirSpinner]="openSpinner"></zan-spinner>


<div>



  <div  >
    <h2 style="font-size: 1.5rem; font-weight: 400;">{{'configuration_games.view_guess_word.title_pag_game' | translate}} </h2>
    <!-- <hr> -->
  </div>


  <div class="col-howMay  "  >
    <zan-how-many-words (Output_list_Words_API)="fn_StarGame_Input($event)" [Input_koGame]="koGame"></zan-how-many-words>
  </div>




  <form class="grid grid-container container-form   " [formGroup]="form" (submit)="false"  [style]="{   padding: '10px 0px 0px 0px' }">


    <!-- <hr width="100%"  /> -->



    <div class="grid grid-container   " style="width: 100%;">

      <div class="col-3-zan-1  " [style]="{  border: '2px solid blue',  borderRadius: '5px' }">
        <zan-list-words [Input_Averge]="lbl_Averge"
                        [Input_Div]="lbl_Div"
                        [Input_List_Words_Process]="list_Words_process">
        </zan-list-words>
      </div>

      <div class="col-3-zan-2"></div>


      <div class="col-3-zan-3" [style]="{  border: '2px solid blue',  borderRadius: '5px' }">
        <div class="row">
          <div class="grid grid-container  col-12  " style="width: 100%;">
            <!-- <div class="grid grid-container "  >  </div> -->

            <div class="col-2-zan-1  "   ><b>{{'configuration_games.view_guess_word.label_clues' | translate}}:</b> </div>
            <div class="col-2-zan-2   " style="text-align:center">
              <p-checkbox [binary]="true" id="chk_length" formControlName="chk_length" label="{{'configuration_games.view_guess_word.label_length' | translate}}"
                (ngModelChange)="fn_chk_length_cambia()"> </p-checkbox>
            </div>
            <div class="col-2-zan-3" style="text-align:center; ">
              <p-checkbox [binary]="true" id="chk_Start" formControlName="chk_Start" label="{{'configuration_games.view_guess_word.label_start_with' | translate}} "
                (ngModelChange)="fn_chk_start_cambia()"> </p-checkbox>
            </div>
            <div class="col-2-zan-4" style="text-align:center">
              <p-checkbox [binary]="true" id="chk_End" formControlName="chk_End" label="{{'configuration_games.view_guess_word.label_ends_with' | translate}} "
                (ngModelChange)="fn_chk_end_cambia()"> </p-checkbox>
            </div>



          </div>
          <div class="grid grid-container  col ">

            <div class="col-2-zan-1"></div>
            <div class="col-2-zan-2" style="text-align:center">{{lbl_length}} </div>
            <div class="col-2-zan-3" style="text-align:center; ">{{lbl_star}}</div>
            <div class="col-2-zan-4" style="text-align:center">{{lbl_end}}</div>


          </div>


          <div class="grid grid-container   " >

                <div class="col-1-zan-1" style="text-align:left; padding: 8px;   ">
                    <b><label>{{'configuration_games.view_guess_word.label_english_word' | translate}}: </label></b>
                </div>
                <div class="col-1-zan-2" style="text-align:center; ">
                  <input pInputText id="txt_EnglishWord" formControlName="txt_EnglishWord" maxlength="30"
                    style="width:90%; text-align:left;" />
                </div>
                <div  *ngIf="btn_visible"  >
                  <p-button icon="fas fa-volume-up "  styleClass="p-button-rounded p-button-warning p-button-text  "
                  [style]="{ 'width': '30px','height':'30px' }"
                   (onClick)="playAudio(link,true)"></p-button>
                </div>
                <div class="col-1-zan-3"  style=" text-align: center;   ">
                    <p-button type="button" label="{{'configuration_games.view_guess_word.button_validate' | translate}} "
                              [style]="{ 'width': '80px' }"   (click)="fn_Validate_click()" *ngIf="btn_visible">
                    </p-button>

                </div>




                <div class="col-1-zan-4" *ngIf="btn_visible"  style="padding: 5px;   "  >

                    <b>{{'configuration_games.view_guess_word.label_grade' | translate}} </b>
                    &nbsp;  {{lbl_Grade}}
                </div>


                <!-- <div class="col-1-zan-5" *ngIf="btn_visible"><label>{{lbl_Grade}} </label></div> -->


          </div>


          <zan-games-alert [inputo_MsjParams]="msjParamsAlert"  ></zan-games-alert>

        </div>


      </div>


    </div>




  </form>
  <!-- <hr> -->
