<h2 class="title">Learning</h2>
<div class="container-list">
    <ng-container *ngFor="let item of listResponse; let i = index">
        <div class="container-cards">
            <!--REQUEST-->
            <div class="card-container" (click)="playAudio(listRequest[i].linkAudio)">

                <!--ICON AUDIO-->
                <div class="card-header" style="position: relative;">
                    <i class="fas fa-volume-up icon audio"></i>
                    <div class="pronunciation">
                        {{listRequest[i].pronunciation}}
                    </div>
                </div>
                <!--BODY-->
                <div class="card-body">
                    {{listRequest[i].value}}
                </div>
                <!--REFERENCE-->
                <div class="card-footer">
                    <div *ngFor="let reference of listRequest[i].references">
                        <ng-container *ngIf="reference.value">
                            <a [href]="reference.value" target="_blank" class="reference">{{reference.label}}</a>
                        </ng-container>
                        <ng-container *ngIf="!reference.value">
                            <div class="reference-simple">{{reference.label}}</div>
                        </ng-container>
                    </div>

                </div>
            </div>
            <div style="padding: 10px;"></div>
            <!--RESPONSE-->
            <div class="card-container" style="background-color: #00B8AD;"
                (click)="playAudio(listResponse[i].linkAudio)">

                <!--ICON AUDIO-->
                <div class="card-header" style="position: relative;">
                    <i class="fas fa-volume-up icon audio"></i>
                    <div class="pronunciation">
                        {{listResponse[i].pronunciation}}
                    </div>
                </div>
                <!--BODY-->
                <div class="card-body">
                    {{listResponse[i].value}}
                </div>
                <!--REFERENCE-->
                <div class="card-footer">
                    <div *ngFor="let reference of listResponse[i].references">
                        <ng-container *ngIf="reference.value">
                            <a [attr.href]="reference.value" target="_blank" class="reference">{{reference.label}}</a>
                        </ng-container>
                        <ng-container *ngIf="!reference.value">
                            <div class="reference-simple" style="color: rgb(39, 39, 39);">{{reference.label}}</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div style="justify-content: center; display: flex; padding-top: 20px;">
    <p-button label="{{'section_steps.learning.button_next' | translate}}" [style]="{
        'width': '200px'
    }" (click)="submit()"></p-button>
</div>
<app-loading></app-loading>